body {
  font-family: Arial, sans-serif;
  background-color: #F0F0F0;
  margin: 0;
  color: #333;
  text-align: center;
  }
  header {
  background-color: #333;
  padding: 10px;
  text-align: center;
  }
  
  header img {
    max-width: 400px;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease; /* Suaviza las transiciones */
  }
  
  /* Animación al pasar el cursor */
  .logo:hover {
    animation: advanced-bounce 1.2s ease-out;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }
  
  /* Definición de la animación */
  @keyframes advanced-bounce {
    0% {
      transform: scale(1) rotate(0deg); /* Estado inicial */
      filter: drop-shadow(0 0 0px rgba(0, 0, 0, 0));
    }
    20% {
      transform: scale(1.2) rotate(15deg); /* Crece y gira un poco */
      filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.2));
    }
    40% {
      transform: scale(0.8) rotate(-15deg); /* Rebota hacia atrás */
      filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 0.15));
    }
    60% {
      transform: scale(1.15) rotate(5deg); /* Rebota hacia adelante */
      filter: drop-shadow(0 7px 20px rgba(0, 0, 0, 0.25));
    }
    80% {
      transform: scale(0.95) rotate(-2deg); /* Rebota ligeramente */
      filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.2));
    }
    100% {
      transform: scale(1) rotate(0deg); /* Vuelve al estado inicial */
      filter: drop-shadow(0 0 0px rgba(0, 0, 0, 0));
    }
  }
  
  
  main {
  padding: 40px;
  }
  
  section {
  margin-bottom: 30px;
  }
  
  footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
  }
  
  /*index video*/
  
  video {
  width: 80%;
  height: auto;
  margin: 20px;
  }
  
  /*Versiones*/
  
  .versiones-list {
  padding: 0;
  text-align: left;
  }
  
  .versiones-list li {
  border: 3px solid #2ecc71;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  }
  
  
  .versiones-list img.thumbnail {
  max-width: 280px;
  float: left;
  margin-right: 50px;
  }
  
  .versiones-list h3 {
  margin-top: 0;
  margin-left: 10px;
  }
  
  /*Mobs*/
  
  .mobs-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
  }
  
  .mob-item, .mob-item2 {
  border: 3px solid #2ecc71;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  width: calc(33% - 100px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  }
  
  .mob-item img {
  max-width: 40%;
  }
  .mob-item2 img {
  max-width: 100%;
  }
  
  /*Biomas*/
  
  .biomas-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  }
  
  .bioma-item {
  border: 3px solid #2ecc71;
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  width: calc(25% - 100px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  }
  
  .bioma-item img {
  max-width: 100%;
  border-radius: 3px;
  }
  
  /*Nosotros*/
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  .team-member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .team-member img {
  width: 120px;
  height: 120px;
  }
  
  .team-member div {
  flex-grow: 1;
  }
  .team-member a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
  }
  .team-member a:hover {
    text-decoration: underline;
  }
  /*Boton links*/
  
  .btn{
  cursor:pointer;
    position:relative;
    padding:10px 20px;
    background:white;
    font-size:15px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
  
    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid #fff;
      transition:all 1s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:5px solid #2ecc71;
      border-left:5px solid #2ecc71;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:5px solid #2ecc71;
      border-right:5px solid #2ecc71;
    }
    &:hover{
      border-top-right-radius:0px;
      border-bottom-left-radius:0px;
      background:rgba(0,0,0,.5);
      color:#333;
  
    &:before,&:after{
        
        width:100%;
        height:100%;
        border-color:white;
      }
    }
  }
  
  /*Barra navegacion*/
  
  nav {
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 550;
  }
  
  nav * {
    box-sizing: border-box;
    transition: all .35s ease;
  }
  
  nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
  }
  
  nav a {
    padding: .5em .8em;
    color: rgba(255,255,255,.5);
    position: relative;
    text-decoration: none;
    font-size: 15px;
  }
  
  nav a::before,
  nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #3E8914;
    border-right: 3px solid #2E640F;
    transform: translate(-100%, 50%);
  }
  
  nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #2E640F;
    border-left: 3px solid #3E8914;
    transform: translate(100%, -50%)
  }
  
  nav a:hover:before,
  nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  nav a:hover {
    color: #2ecc71;
  }
  
  /* Estilo de la galería */
  
  .gallery {
  display: grid;
  gap: 50px;
  max-width: 800px;
  margin: 0 auto;
  }
  
  .gallery-item {
  border: 6px solid #2ecc71;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  }
  
  .gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  }
  
  .gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }
  
  /* Contenedor de formulario */
  .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  }
  
  .login-container {
  background-color: #F0F0F0;
  border: 1px solid #2ecc71;
  border-radius: 15px;
  padding: 20px;
  width: 500px;
  box-shadow: 0 0 15px #2ecc71;
  text-align: left;
  display: block;
  }
  
  .success-container {
  background-color: #e0ffe0;
  border: 1px solid #2ecc71;
  border-radius: 15px;
  padding: 20px;
  width: 500px;
  box-shadow: 0 0 15px #2ecc71;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; 
  }
  
  /* Ocultar formulario cuando se muestra el mensaje de éxito */
  #success:target ~ .form-container {
  display: none;
  }
  
  /* Mostrar el mensaje de éxito cuando el ID coincide */
  #success:target {
  display: block;
  }
  
  form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  }
  
  form input, form select, form textarea, form button {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  }
  
  button {
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  }
  
  button:hover {
  background-color: #5a8e38;
  }
  